<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="SMBase::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center"> 
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>Start managing your contacts in an efficient and smarter way</p>
			<button type="button" th:action="@{/signup}"class="btn btn-bg-primary">Get Started!</button>
		</div>
	</section>
</body>
</html>