<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="SMBase::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
		<div class="row">
			<div class="col  m6 offset-m3">
				<div class="card">
					<div class="card-content">
						<div class="form center-align">
						
							<form method="post" action="login" id="loginForm">
								<table>
									<tr>
										<td>UserName:</td>
										<td><input type="text" name="UserName"></td>
									</tr>

									<tr>
										<td>Password:</td>
										<td><input type="password" name="password"></td>
									</tr>
									<tr>
										<td></td>
										<td><button type="submit" class="btn  purple accent-4" >Submit</button></td>
									</tr>
								</table>
								<input type="hidden" name="crudCall" value="login">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</body>
</html>