<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{SMBase::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card">
						<div class="container text-center">
							<img style="width: 80px;" th:src="@{/img/feedback.png}" alt="" />
						</div>
						
						<h3 class="text-center display-4">Register Here!</h3>
						<form th:action="@{/register}" method="POST" id="addnewuserForm" th:object="${user}">
							<!--for Name-->
							<div class="form-group">
								<label for="name">Name:</label>
								<input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp"
									placeholder="Enter Name" th:value="${user.name}" th:classappend="${#fields.hasErrors()?'is-invalid':''}" required>
									<div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}" style="color: red;">
											</div>
							</div>
							<!--for Email-->
							<div class="form-group">
								<label for="email">Email address:</label>
								<input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
									placeholder="Enter email" th:value="${user.email}" th:classappend="${#fields.hasErrors()?'is-invalid':''}" required>
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								<div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}" style="color: red;"></div>
							</div>
							<!--for Password-->
							<div class="form-group">
								<label for="password">Password:</label>
								<input type="password" class="form-control" name="password" id="password" aria-describedby="emailHelp"
									placeholder="Enter password" th:value="${user.password}" th:classappend="${#fields.hasErrors()?'is-invalid':''}" required>
								<small id="emailHelp" class="form-text text-muted">Please enter password in following format: Qwert#@1</small>
								<div class="invalid-feedback" th:each="e:${#fields.errors('password')}" th:text="${e}" style="color: red;"></div>
							</div>
							<!--for About-->
							<div class="form-group">
								<label for="about">About:</label>
								<textarea name="about" id="about" cols="30" rows="5" class="form-control" th:value="${user.about}" th:classappend="${#fields.hasErrors()?'is-invalid':''}" required></textarea>
								<small id="emailHelp" class="form-text text-muted">Write a small description about Yourself</small>
								<div class="invalid-feedback" th:each="e:${#fields.errors('about')}" th:text="${e}" style="color: red;"></div>
							</div>
							<div class="container text-center" >
							<button type="submit" class="btn btnbg-primary">Submit</button>
							<button type="reset"class="btn btnbg-tertiary">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>