<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{Generic/SMBase::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<section>
	<div class="container mr-3">
			<div class="container-fluid mt-1">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<div class="container text-center">
							<img style="width: 60px;" th:src="@{/img/contacts.png}" alt="" />
						</div>
						
						<h3 class="text-center display-4">New Contact</h3>
						<form th:action="@{/user/process-contact}" method="POST" id="addnewContact" th:object="${newContact}" enctype="multipart/form-data">
							<!--for Name-->
							<div class="form-group">
								<label for="name">Name:</label>
								<input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp"
									placeholder="Enter Name" th:value="${newContact.name}" th:classappend="${#fields.hasErrors()?'is-invalid':''}" required>
									<div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}" style="color: red;">
											</div>
							</div>
							<!--for Email-->
							<div class="form-group" >
								<label for="email">Email address:</label>
								<input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
									placeholder="Enter email" th:value="${newContact.email}" th:classappend="${#fields.hasErrors()?'is-invalid':''}" required>
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								<div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}" style="color: red;"></div>
							</div>
							<!--for nickname-->
							<div class="form-group">
								<label for="nickname">Nick Name:</label>
								<input type="text" class="form-control" name="nickName" id="nickName" aria-describedby="emailHelp"
									placeholder="Enter Nick Name" th:value="${newContact.nickName}" th:classappend="${#fields.hasErrors()?'is-invalid':''}" required>
								<small id="emailHelp" class="form-text text-muted">Please enter NickName</small>
								<div class="invalid-feedback" th:each="e:${#fields.errors('nickName')}" th:text="${e}" style="color: red;"></div>
							</div>
							<!--for About-->
							<div class="form-group">
								<label for="about">About:</label>
								<textarea name="about" id="about" cols="30" rows="5" class="form-control" th:value="${newContact.about}" th:classappend="${#fields.hasErrors()?'is-invalid':''}" required></textarea>
								<small id="emailHelp" class="form-text text-muted">Write a small description about Yourself</small>
								<div class="invalid-feedback" th:each="e:${#fields.errors('about')}" th:text="${e}" style="color: red;"></div>
							</div>
							<!--for Work-->
							<div class="form-group">
								<label for="work">Work:</label>
								<input type="text" class="form-control" name="work" id="work" aria-describedby="emailHelp"
									placeholder="Enter Work" th:value="${newContact.work}" th:classappend="${#fields.hasErrors()?'is-invalid':''}" required>
								<small id="emailHelp" class="form-text text-muted">Please enter Work </small>
								<div class="invalid-feedback" th:each="e:${#fields.errors('work')}" th:text="${e}" style="color: red;"></div>
							</div>
							<!--for Phone Number-->
							<div class="form-group">
								<label for="number">Phone Number:</label>
								<input type="text" class="form-control" name="phone" id="phone" aria-describedby="emailHelp"
									placeholder="Enter Phone Number" th:value="${newContact.phone}" th:classappend="${#fields.hasErrors()?'is-invalid':''}" required>
								<small id="emailHelp" class="form-text text-muted">Please enter Phone Number</small>
								<div class="invalid-feedback" th:each="e:${#fields.errors('phone')}" th:text="${e}" style="color: red;"></div>
							</div>
							
							<!--for Profile Picture-->
							<div class="form-group">
								<label for="profile">Phone Number:</label>
								<input type="file" class="form-control" name="profilePicture" id="profilePicture" aria-describedby="emailHelp"
									placeholder="Add Profile Image" th:value="${newContact.profilePicture}" th:classappend="${#fields.hasErrors()?'is-invalid':''}" required>
								<small id="emailHelp" class="form-text text-muted">Please enter Phone Number</small>
								<div class="invalid-feedback" th:each="e:${#fields.errors('profilePicture')}" th:text="${e}" style="color: red;"></div>
							</div>
							<div class="container text-center" >
							<button type="submit" class="btn btnbg-primary">Submit</button>
							<button type="reset"class="btn btnbg-tertiary">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
</body>
</html>