<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Generic/SMBase::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card">
						<div class="container text-center">
							<img style="width: 80px;" th:src="@{/img/password.png}" alt="" />
							</div>
							
							<h3 class="text-center display-4">Change Password!</h3>
							
							<form th:action="@{/user/change-password}" method="POST" id="passwordChange" >
								
							<!--for To-->
							<div class="form-group">
								<label for="oldPassword">Old Password:</label>
								<input type="password" class="form-control" name="oldPassword" id="oldPassword" aria-describedby="emailHelp"
									placeholder="Enter Old Password" required>
								<small id="emailHelp" class="form-text text-muted">Kindly enter old Password.</small>
								
							</div>
							<!--for From-->
							<div class="form-group">
								<label for="password">New Password:</label>
								<input type="password" class="form-control" name="newPassword" id="newPassword" aria-describedby="emailHelp"
									placeholder="Enter New Password"  required >
								
							
							</div>
							<br />
							<div class="form-group" >
							<button type="submit" class="btn btnbg-primary">Change Password</button>
							</div>
							
							</form>
						</div>
						</div>
						</div>
						</div>
						
	</section>
</body>
</html>