<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{Generic/SMBase::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<section>
	<div class="container mr-3">
			<div class="container-fluid mt-1">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<div class="container text-center">
							<img style="width: 60px;" th:src="@{/img/contacts.png}" alt="" />
						</div>
						
						<h3 class="text-center display-4">Your Contacts</h3>
	<table class="table">
        <thead>
          <tr>
			  <th>Name</th>
              <th>Email</th>
              <th>About</th>
              <th>Phone Number</th>
              <th>Nick Name</th>
          </tr>
        </thead>

        <tbody>
       
          <tr th:each="contact: ${contactsList}">
            <td>
				<a th:href="@{'/user/view-contact/'+${contact.contactID}}">
				<div th:if="${profile!=null}">
					<img class="profile-pcture" th:src="@{'data:image/png;charset=utf-8;base64,' + ${profile}}" alt="profile" />
					<span th:text="${contact.name}"></span>
				</div>
				</a>
			</td>
            <td th:text="${contact.email}"></td>
            <td th:text="${contact.about}"></td>
            <td th:text="${contact.phone}"></td>
            <td th:text="${contact.nickName}"></td>
            <td> <a href="delete/${ue.getUserName()}"><i class="fa-solid fa-trash"></i></a></td>
            <td> <a href="updatePage/${ue.getUserName()}"><i class="fa-solid fa-pen-to-square"></i></a></td>
          </tr>

        </tbody>
      </table>
      
      <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" th:if="${pageNumber!= 0}">
      <a class="page-link" th:href="@{'/user/view-contacts/'+${pageNumber-1}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li th:classappend="${pageNumber==i-1?'active':''}" class="page-item" th:each="i: ${#numbers.sequence(1,totalPages)}"><a class="page-link" th:href="@{'/user/view-contacts/'+${i-1}}"><span th:text="${i}"></span></a></li>
    <li class="page-item" th:if="${pageNumber+1!=totalPages}">
      <a class="page-link" th:href="@{'/user/view-contacts/'+${pageNumber+1}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
      </div>
      </div>
      </div>
      </div>
    
</section>
</body>
</html>