<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{Generic/SMBase::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>
	<div class="container mr-3">
			<div class="container-fluid mt-1">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<div class="container text-center">
							<img style="width: 60px;" th:src="@{/img/contacts.png}" alt="" />
						</div>
						
						<h3 class="text-center display-4">Your Contacts</h3>
	<table class="table">
        <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>About</th>
              <th>Phone Number</th>
              <th>Nick Name</th>
          </tr>
        </thead>

        <tbody>
       
          <tr th:each="contact: ${contactsList}">
            <td th:text="${contact.name}"></td>
            <td th:text="${contact.email}"></td>
            <td th:text="${contact.about}"></td>
            <td th:text="${contact.phone}"></td>
            <td th:text="${contact.nickName}"></td>
            <td> <a href="delete/${ue.getUserName()}"><i class="fa-solid fa-trash"></i></a></td>
            <td> <a href="updatePage/${ue.getUserName()}"><i class="fa-solid fa-pen-to-square"></i></a></td>
          </tr>

        </tbody>
      </table>
      </div>
      </div>
      </div>
      </div>
    
</section>
</body>
</html>